{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [
          'Chrome >= 61'
        ]
      }
    }],
    "stage-1"
  ],
  "plugins": ["transform-runtime"],
  "env": {
    "test": {
      "presets": ["env", "stage-1"],
      "plugins": [ "istanbul" ]
    }
  }
}
